{% extends 'base.html' %}
{% block additional_styles %}

{% endblock %}

{% block content %}
<div class ="container" style="margin-top: 10rem; color: white;">
  <div class="" style="margin-top:40px">
      <!-- <hr style="height: 5px; color:rgb(243, 234, 205);" -->
      <p style="font-weight: 1000; font-size: 2rem; margin-right: 30rem;">리뷰</p>
      <a class="btn btn-outline-secondary" href="{% url 'community:post_list' %}" style="color: white">목록으로 돌아가기</a>
      <hr style="background-color: white">
      <h2 sytle="font-weight: bold;">{{ post.title }}</h2>
      <hr style="background-color: white">
      <span>작성자: {{ post.user }}님
      <span class="float-right">작성일자: {{ post.created_at }}</span>
      <p style="font-size: 2rem; color: black;">.</p>
      <p style="font-size: 1pt; color: black;">.</p>
      <h4>{{ post.content }}</h4>
      <hr>
      {% if request.user == post.user %}
          <a class="btn btn-primary mr-3" href="{% url 'community:post_update' post.pk %}">글 수정</a>
          <a class="btn btn-danger" href="{% url 'community:post_delete' post.pk %}">글 삭제</a>
      {% endif %}
      <hr>
  </div>
{% endblock %}