{% extends 'base.html' %}
{% load static %}
{% block additional_styles %}
<style>
.title {
  overflow: hidden;
  text-align: left;
  margin-top: 100px;
}
.title h2 {
  color: #044A67;
  font-weight: bold;
  font-size: 35px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding-right: 25px;
}
.title h2 ::after {
  content: '-';
  font-size: 2px;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.1);
  height: 4px;
  display: block;
  width: 2000%;
  position: absolute;
  right: -2000%;
  top: 50%;
}
.stock-chart h4 {
  margin-top: 0px;
  color: #044A67;
}
.stock-chart h4 a{
  color: #044A67;
}
.stcok-chart h4 a:hover {
  text-decoration: none;
}
.stock-title small {
  font-size: 65%;
  font-weight: 400;
  line-height: 1;
  color: #777;
}
</style>
{% endblock %}

{% block content %}
<div class="main-wrapper">
  <section class="bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title">
            <h2>
              <a style="color:inherit;text-decoration: none;">My interest</a>
            </h2>
          </div>
        </div>
        {% for stock in interests %}
        <div class="col-md-4" style="margin-bottom:50px;">
          <article class="stock-card" style="width: 300px;">
            <div class="stock-chart">
              <h4 class="stock-title">
                <a href="{% url 'stock:forecast_detail' stock.id %}" tabindex="0">{{ stock.name }}</a>
                <span style="display:inline-block;">
                  <small class='date'>2021년 8월 30일</small>
                  <small style="color:#fd4444;font-weight: bold;">SELL</small>
                </span>
              </h4>
              <div class="stock-widget">
                <div class="tradingview-widget-container">
                  <div id="{{ stock.container_id }}" class="widget-view"></div>
                </div>
              </div>
            </div>
          </article>
        </div>
        {% endfor %}
        <div class="col-md-12">
          <div class="title">
            <h2>
              <a style="color:inherit;text-decoration: none;">My Activity</a>
            </h2>
          </div>
        </div>
        
      </div>
    </div>
  </section>
</div>
<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
<script type="text/javascript">
  const obj = [
          {% for stock in interests %}
            {
              key: '{{ stock.container_id }}',
              symbol: '{{ stock.symbol_id }}',
            },
          {% endfor %}
          ]
  obj.forEach(({ key, symbol }) => {
        console.log(key, symbol)
        
        new TradingView.widget(
          {
            "width": 300,
            "height": 250,
            "symbol": symbol,
            "interval": "D",
            "timezone": "Asia/Seoul",
            "theme": "dark",
            "style": "1",
            "locale": "kr",
            "hide_top_toolbar": true,
            "hide_legend": true,
            "toolbar_bg": "#f1f3f6",
            "enable_publishing": false,
            "save_image": false,
            "container_id": key
          }
      );
    })
</script>
<script>
  const today = new Date();
  const year = today.getFullYear();
  const month = ('0' + (today.getMonth() + 1)).slice(-2);
  const day = ('0' + today.getDate()).slice(-2);
  const datestring = year + '년 ' + month + '월 ' + day + '일';
  const date = document.getElementsByClassName("date");
  for( var i = 0; i < date.length; i++){
    var date1 = date.item(i);
    date1.innerHTML = datestring
  }
</script>
{% endblock %}