{% extends 'base.html' %}
{% load static %}
{% block additional_styles %}
<style>
.title {
  overflow: hidden;
  text-align: left;
  margin-top: 100px;
}
.title h2 {
  color: #044A67;
  font-weight: bold;
  font-size: 35px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding-right: 25px;
}
.title h2 ::after {
  content: '-';
  font-size: 2px;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.1);
  height: 4px;
  display: block;
  width: 2000%;
  position: absolute;
  right: -2000%;
  top: 50%;
}
.stock-chart h4 {
  margin-top: 0px;
  color: #044A67;
}
.stock-chart h4 a{
  color: #044A67;
}
.stcok-chart h4 a:hover {
  text-decoration: none;
}
.stock-title small {
  font-size: 65%;
  font-weight: 400;
  line-height: 1;
  color: #777;
}
.card-body a {
	color: #044A67;
	text-decoration: none;
}
.btn {
	margin-top: 5px;
}
.btn-buy {
	color: #51a952 !important;
	background-color: transparent;
	border: 1px solid #51a952;
	text-transform: uppercase;
	border-radius: 22px;
	font-weight: 700;
}

.btn-sell {
	color: #fd4444 !important;
	background-color: transparent;
	border: 1px solid #fd4444;
	text-transform: uppercase;
	border-radius: 22px;
	font-weight: 700;
}

.btn-hold {
	color: orange !important;
	background-color: transparent;
	border: 1px solid orange;
	text-transform: uppercase;
	border-radius: 22px;
	font-weight: 700;
}
.text-sm {
	font-weight: 700;
}
.price-text {
	font-size: 1.2em;
	opacity: 0.4;
}
.pref-text {
	font-size: 1.2em;
	color: red;
}
</style>
{% endblock %}

{% block content %}
<div class="main-wrapper">
  <section class="bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title">
            <h2>
              <a style="color:inherit;text-decoration: none;">My interest</a>
            </h2>
          </div>
        </div>
        {% if interests %}
        {% for stock in interests %}
        <div class="col-md-4" style="margin-bottom:50px;">
          <article class="stock-card" style="width: 300px;">
            <div class="stock-chart">
              <h4 class="stock-title">
                <a href="{% url 'stock:forecast_detail' stock.id %}" tabindex="0">{{ stock.name }}</a>
                <span style="display:inline-block;">
                  <small class='date'>2021년 8월 30일</small>
                  <small style="color:#fd4444;font-weight: bold;">SELL</small>
                </span>
              </h4>
              <div class="stock-widget">
                <div class="tradingview-widget-container">
                  <div id="{{ stock.container_id }}" class="widget-view"></div>
                </div>
              </div>
            </div>
          </article>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-md-12" style="margin-top:50px; padding-left:250px;">
          <h4>아직 추가한 관심 종목이 존재하지 않습니다</h4>
        </div>
        {% endif %}
        <div class="col-md-12">
          <div class="title">
            <h2>
              <a style="color:inherit;text-decoration: none;">My Activity</a>
            </h2>
          </div>
        </div>
        {% if activities %}
        {% for post in activities %}
        <div class="col-md-6" style="margin-top: 10px; margin-bottom: 50px;">
					<div class="card blog-card m-3">
						<div class="card-body">
							<div class="float-right">
								{% if post.position == '매수' %}
								<a class="btn btn-buy" href="{% url 'community:post_detail' post.id %}">{{ post.position }}</a>
								{% elif post.position == '매도' %}
								<a class="btn btn-sell" href="{% url 'community:post_detail' post.id %}">{{ post.position }}</a>
								{% elif post.position == '홀드' %}
								<a class="btn btn-hold" href="{% url 'community:post_detail' post.id %}">{{ post.position }}</a>
								{% endif %}
							</div>
							<h5>
								<a href="{% url 'community:post_detail' post.id %}">{{ post.title | truncatechars:15 }}</a>
							</h5>
							<div class="row">
								<div class="col-4 text-sm">시작 가격</div>
								<div class="col-4 text-center text-sm">예측 가격</div>
								<div class="col-4 text-right text-sm">현재 수익율</div>
							</div>
							<div class="row">
								<div class="col-4" style="line-height: 1.5;">
									<span class="price-text">13000 원</span>
									<br>
									<small>
										<span style="font-weight:600;" title="{{ post.created_at|date:'Y년 m월 d일' }}" data-placement="top" data-toggle="tooltip">{{ post.created_at|date:'m월 d일' }}</span>
									</small>
								</div>
								<div class="col-4 text-center">
									<span class="price-text">{{ post.price }} 원</span>
									<br>
									<small>
										<span style="font-weight:600;" title="{{ post.predict_date|date:'Y년 m월 d일' }}" data-placement="top" data-toggle="tooltip">{{ post.predict_date|date:'m월 d일' }}</span>
									</small>
								</div>
								<div class="col-4 text-right">
									<span class="pref-text">1.15 %</span>
								</div>
							</div>
						</div>
					</div>
				</div>
        {% endfor %}
        {% else %}
        <div class="col-md-12" style="margin-top:50px; margin-bottom:100px; padding-left:250px;">
          <h4>아직 작성한 게시글이 없습니다</h4>
        </div>
        {% endif %}
        
      </div>
    </div>
  </section>
</div>
<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
<script type="text/javascript">
  const obj = [
          {% for stock in interests %}
            {
              key: '{{ stock.container_id }}',
              symbol: '{{ stock.symbol_id }}',
            },
          {% endfor %}
          ]
  obj.forEach(({ key, symbol }) => {
        console.log(key, symbol)
        
        new TradingView.widget(
          {
            "width": 300,
            "height": 250,
            "symbol": symbol,
            "interval": "D",
            "timezone": "Asia/Seoul",
            "theme": "dark",
            "style": "1",
            "locale": "kr",
            "hide_top_toolbar": true,
            "hide_legend": true,
            "toolbar_bg": "#f1f3f6",
            "enable_publishing": false,
            "save_image": false,
            "container_id": key
          }
      );
    })
</script>
<script>
  const today = new Date();
  const year = today.getFullYear();
  const month = ('0' + (today.getMonth() + 1)).slice(-2);
  const day = ('0' + today.getDate()).slice(-2);
  const datestring = year + '년 ' + month + '월 ' + day + '일';
  const date = document.getElementsByClassName("date");
  for( var i = 0; i < date.length; i++){
    var date1 = date.item(i);
    date1.innerHTML = datestring
  }
</script>
{% endblock %}