{% extends 'base.html' %}
{% load static %}
{% load bootstrap_pagination %}
{% bootstrap_paginate page_obj %}

{% block additional_styles %}
<style>
.title {
  overflow: hidden;
  text-align: left;
  margin-top: 100px;
}
.title h2 {
  color: #044A67;
  font-weight: bold;
  font-size: 35px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding-right: 25px;
}
.title h2 ::after {
  content: '-';
  font-size: 2px;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.1);
  height: 4px;
  display: block;
  width: 2000%;
  position: absolute;
  right: -2000%;
  top: 50%;
}
.search-widget {
  border: solid;
  border-width: 0.5px;
  border-radius: 5px;
  border-color:#1E8BC3;
  padding:10px;
  width:100%;
  box-shadow: 2px 4px 4px 0px rgba(5, 5, 5, 0.06);
  margin-bottom: 50px;
}
label {
  font-weight: 700;
  margin-bottom: 20px;
  max-width: 100%;
}
.btn, .submit {
  font-family: "Montserrat", sans-serif, "FontAwesome";
  letter-spacing: 0.02em;
  font-weight: bold;
  border: 0;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
}
.entry-title h2 {
  margin-top: 0px;
  color: #044A67;
}
.entry-title h2 a{
  color: #044A67;
}
.entry-title h4 a:hover {
  text-decoration: none;
}
.stock-title small {
  font-size: 65%;
  font-weight: 400;
  line-height: 1;
  color: #777;
}
.stock-chart {
  margin-bottom: 50px;
}
</style>
{% endblock %}

{% block content %}
<div class="main-wrapper">
  <section class="bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title">
            <h2>
              <a href="{% url 'stock:forecasts' %}" style="color:inherit;text-decoration: none;">Stock Forecasts</a>
            </h2>
          </div>
        </div>
        <div class="col-md-12">
          <div class="search-widget">
            <form id="searchform" method="get" action="">
              <label for="amount">BROWSE OUR STOCK FORECASTS</label>  
              <div class="input-group search-form" role="form">
                <input type="text" class="form-control ui-autocomplete-input" name="q" id="txtSearch" value="" placeholder="Search by ticker or company name, leave empty for all." autocomplete="off">
                <span class="input-group-btn">
                  <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                </span>
              </div>
            </form>
            <a style="margin-top:20px;" href="/forecasts/" class="btn"><i class="fa fa-chart-line"></i> ALL FORECASTS</a>
            <a style="margin-top:20px;color:#fd4444;" href="/forecasts/?p=매도" class="btn"><i class="fa fa-chart-line"></i> 매도</a>
            <a style="margin-top:20px;color:orange;" href="/forecasts/?p=홀드" class="btn"><i class="fa fa-chart-line"></i> 홀드</a>
            <a style="margin-top:20px;color:#51a952;" href="/forecasts/?p=매수" class="btn"><i class="fa fa-chart-line"></i> 매수</a>
          </div>
        </div>
        {% for stock in page_obj %}
          <div class="col-md-12">
            <div class="entry-title">
              <h2 class="stock-title">
                <a href="{% url 'stock:forecast_detail' stock.id %}" tabindex="0">{{ stock.name }}</a>
                <span style="display:inline-block;">
                  <small class="date">2021년 8월 30일</small>
                  {% if stock.position == '매도' %}
                  <small style="color:#fd4444;font-weight: bold;">{{ stock.position }}</small>
                  {% elif stock.position == '매수' %}
                  <small style="color:#51a952;font-weight: bold;">{{ stock.position }}</small>
                  {% else %}
                  <small style="color:orange;font-weight: bold;">{{ stock.position }}</small>
                  {% endif %}
                </span>
              </h2>
            </div>
            <article class="stock-chart">
              <div class="tradingview-widget-container">
                <div id="{{ stock.container_id }}"></div>
              </div>
            </article>
          </div>
        {% endfor %}
      </div>
      <nav aria-label="Page navigation example" style="padding-top:50px; padding-bottom:50px;">
        <ul class="pagination justify-content-center text-black">
          {% bootstrap_paginate page_obj range=10 show_prev_next="false" show_first_last="true" %}
        </ul>
      </nav>  
    </div>
  </section>
</div>
<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
<script type="text/javascript">
(() => {
      const obj = [
        {% for stock in page_obj %}
          {
            key: '{{ stock.container_id }}',
            symbol: '{{ stock.symbol_id }}',
          },
        {% endfor %}
        ]
      const today = new Date();
      const year = today.getFullYear();
      const month = ('0' + (today.getMonth() + 1)).slice(-2);
      const day = ('0' + today.getDate()).slice(-2);
      const datestring = year + '년 ' + month + '월 ' + day + '일';
      const date = document.getElementsByClassName("date");
      for( var i = 0; i < date.length; i++){
        var date1 = date.item(i);
        date1.innerHTML = datestring
      }

      obj.forEach(({ key, symbol }) => {
        console.log(key, symbol)
        
        new TradingView.widget(
          {
            "width": 1100,
            "height": 500,
            "symbol": symbol,
            "interval": "D",
            "timezone": "Asia/Seoul",
            "theme": "dark",
            "style": "1",
            "locale": "kr",
            "toolbar_bg": "#f1f3f6",
            "enable_publishing": false,
            "save_image": false,
            "container_id": key
          }
      );
    })
  })();
</script>
{% endblock %}